<app-navbar></app-navbar>
<div class="text-center">
<button class="btn btn-success m-3 "
data-bs-toggle="modal" data-bs-target="#exampleModal">Nuevo Equipo</button>
</div>
<hr>

<div class="row">
    <div *ngFor="let equipo of equipos" class="card m-4" style="width: 18rem;">
        <img src="../../assets/img/equipos.jpg" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">{{equipo.name}}</h5>
            <button (click)="deleteEquipo(equipo._id)" class="btn btn-secondary m-3">Eliminar</button>
        </div>
    </div>
</div>

<!-- Modal guardar -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Guardar Equipo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #addEquipoForm="ngForm">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Nombre</label>
                  <input [(ngModel)]="equipo.name" name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Puntos</label>
                    <input [(ngModel)]="equipo.puntos" name="puntos" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">goles anotados</label>
                    <input [(ngModel)]="equipo.golesAnotados" name="golesAnotados" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">goles encontra</label>
                    <input [(ngModel)]="equipo.golesEncontra" name="golesEncontra" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">liga</label>
                    <select [(ngModel)]="equipo.liga" name="liga" class="form-select" aria-label="Default select example">
                      <option *ngFor="let liga of ligas" value = "{{ liga._id }}" selected>{{ liga.name }}</option>
                    </select>                  
                  </div>

              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button (click)="saveEquipo(addEquipoForm)"  type="button" class="btn btn-primary"
          data-bs-dismiss="modal">Guardar
          </button>
        </div>
      </div>
    </div>
  </div>