<app-navbar></app-navbar>

<div class="text-center">
    <button class="btn btn-success m-3 "
    data-bs-toggle="modal" data-bs-target="#exampleModal">Nueva Liga</button>
</div>
<hr>

<div class="row">
    <div *ngFor="let liga of ligas" class="card m-4" style="width: 18rem;">
        <img src="../../assets/img/liga.png" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">{{liga.name}}</h5>
            <button (click)="deleteLiga(liga._id)" class="btn btn-secondary m-3">Eliminar</button>
            
        </div>
      </div>
</div>

<!-- Modal guardar liga -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Guardar Liga</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #addLigaForm="ngForm">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Nombre</label>
                  <input [(ngModel)]="liga.name" name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>

              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button (click)="saveLiga(addLigaForm)"  type="button" class="btn btn-primary"
          data-bs-dismiss="modal">Guardar
          </button>
        </div>
      </div>
    </div>
  </div>

  